body {
	font-family: arial;
	text-align: center;
	color: black;
	margin-left: auto;
	margin-right: auto;
}

table {
	width: 75%;
	border: 1px solid black;
	border-collapse: collapse;
}

td {
	border: 1px solid black;
}

th {
	border: 1px solid black;
)

img {
	height: 300px;
	width: 300px;
}

div.website {
	text-align: center;
}	